<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
	<!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
	<!-- <link rel="preload" as="font" href="static/assets/html/prstartk.ttf" type="font/ttf" /> -->
	
	<title>My Game</title>

	<script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
	<!-- <script src="static/lib/socket.io.min.js"></script> -->
	

	<script src="static/lib/phaser.min.js"></script>
	<script src="static/src/Player.js"></script>
	<script src="static/src/Opponent.js"></script>
	<script src="static/src/stateMachine/StateMachine.js"></script>
	<script src="static/src/stateMachine/PlayerController.js"></script>
	<script src="static/src/scenes/TitleScreen.js"></script>
	<script src="static/src/scenes/Level.js"></script>
	<script src="static/src/main.js"></script>

	<style>
		body {
			background: black;
			margin: 0;
			padding: 0;
		}
	</style>

</head>

<body>
	
</body>

</html>
